@media screen {
    body {
        background-image: none;
        font-family: 'Lato', sans-serif;
    }

    div#header
    ,div#footer
    ,.slide h1
    ,#controls #navLinks a
    {
        background-color: #4f504f;
    }

    div#header {
        height: 5em;
        background: #fff url(images/header-bg.png) no-repeat 0 100%;
        border-bottom: 4px solid #e43;
        background-position: bottom;
        background-size: 100%;
    }
    div#header::after {
        content: "";
        background: transparent url(images/wordcamp-logo.svg) no-repeat 50%;
        background-size: contain;
        right: 0;
        top: 10px;
        left: 0;
        bottom: 10px;
        position: absolute;
        z-index: -1;

    }

    .controls {
        color: #fff;
    }
    div#footer,
    div#currentSlide {
        color: #000;
    }

    div#footer {
        border-top: 4px solid #e43;
    }
    div#footer::after {
        content: "";
        background: url(images/newsletter-bg.png);
        background-position: bottom;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        opacity: .5;
    }
    div#footer h1,
    div#footer h2 {
        opacity: .8;
    }

    .main-page.slide h1
    {
        border: 0;
    }

    .main-page.slide h4 {
        background: transparent url(../../../companies/wpmudev/logo.png) no-repeat;
        width: 201px;
        height: 49px;
        text-indent: -999em;
        overflow: hidden;
        background-size: cover;
    }

    .slide h1
    {
        text-transform: none;
        padding: .5em;
        border: 1px solid #e43;
        background-color: #fff;
        right: 100px;
        left: auto;
        color: #145;
    }

    .slide
    ,#slide0
    {
        padding-top: 5.5em;
    }

    .slide.license ul
    {
        font-size: .5em;
    }

    img.alignright {
        float: right;
    }

    #currentSlide {

    }

    .slide .image img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        border: 1px solid #f98;
        padding: 10px;
    }

    ul.rw {
        width: 88%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        text-align: center;
    }

    ul.rw.nowrap {
        flex-wrap: nowrap;
    }

    ul.rw li {
        width: 50%;
    }
    ul.rw li img {
        display: block;
        margin: 10px auto;
        max-width: 90%;
    }
    ul.rw.fit li img {
        width: 100%;
        border: 10px solid white;
    }

    .fitimage img {
        display: block;
        margin: auto;
        max-height: 100%;
    }

    .img300 img {
        width: 300px;
    }

    .smush {
        background-image: url(../../../../content/wcpl/2018/banner-1800x690.jpg);
        background-position: 50% 6em;
        background-repeat: no-repeat;
    }

    .slide .dashicons {
        padding: 10px;
    }

    .slide .dashicons:before {
        color: #333;
    }
    .questions h2 {
        font-size: 3em;
        text-align: center;
        margin-top: 1em;
    }

}
